#navigation .cosm-card.coreEarth {
    background: url(../images/table-tents/core-earth.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.livingLand {
    background: url(../images/table-tents/living-land.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.nileEmpire {
    background: url(../images/table-tents/nile-empire.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.aysle {
    background: url(../images/table-tents/aysle.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.cyberpapacy {
    background: url(../images/table-tents/cyberpapacy.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.panPacifica {
    background: url(../images/table-tents/pan-pacifica.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.orrorsh {
    background: url(../images/table-tents/orrorsh.webp);
    background-size: 100% 100%;
}

#navigation .cosm-card.tharkold {
    background: url(../images/table-tents/tharkold.webp);
    background-size: 100% 100%;
}
